<Settings>
  <Credentials>
    <twitchUsername>TwitchUsernameNotSet</twitchUsername>
    <twitchToken>TwitchTokenNotSet</twitchToken>
    <twitchChannel>TwitchChannelNotSet</twitchChannel>
  </Credentials>
  <messageDuration>15</messageDuration>
  <StandardMessages>
    <welcomeMessageActive>false</welcomeMessageActive>
    <welcomeMessage></welcomeMessage>
    <infoMessageActive>false</infoMessageActive>
    <infoMessage></infoMessage>
    <newFollowerMessageActive>false</newFollowerMessageActive>
    <newFollowerMessage></newFollowerMessage>
    <newSubscriberMessageActive>false</newSubscriberMessageActive>
    <newSubscriberMessage></newSubscriberMessage>
    <commandMessageActive>false</commandMessageActive>
    <commandMessage></commandMessage>
  </StandardMessages>
  <dispatcherChatSettings>
    <dispatcherChatActive>false</dispatcherChatActive>
    <dispatcherChatMessage></dispatcherChatMessage>
    <dispatcherChatTimer>0</dispatcherChatTimer>
  </dispatcherChatSettings>
  <timedMessagesSettings>
    <timedMessage1Toggle>false</timedMessage1Toggle>
    <timedMessage1></timedMessage1>
    <timedMessage1Timer>0</timedMessage1Timer>
    <timedMessage2Toggle>false</timedMessage2Toggle>
    <timedMessage2></timedMessage2>
    <timedMessage2Timer>0</timedMessage2Timer>
    <timedMessage3Toggle>false</timedMessage3Toggle>
    <timedMessage3></timedMessage3>
    <timedMessage3Timer>0</timedMessage3Timer>
    <timedMessage4Toggle>false</timedMessage4Toggle>
    <timedMessage4></timedMessage4>
    <timedMessage4Timer>0</timedMessage4Timer>
    <timedMessage5Toggle>false</timedMessage5Toggle>
    <timedMessage5></timedMessage5>
    <timedMessage5Timer>0</timedMessage5Timer>
    <timedMessage6Toggle>false</timedMessage6Toggle>
    <timedMessage6></timedMessage6>
    <timedMessage6Timer>0</timedMessage6Timer>
    <timedMessage7Toggle>false</timedMessage7Toggle>
    <timedMessage7></timedMessage7>
    <timedMessage7Timer>0</timedMessage7Timer>
    <timedMessage8Toggle>false</timedMessage8Toggle>
    <timedMessage8></timedMessage8>
    <timedMessage8Timer>0</timedMessage8Timer>
    <timedMessage9Toggle>false</timedMessage9Toggle>
    <timedMessage9></timedMessage9>
    <timedMessage9Timer>0</timedMessage9Timer>
    <timedMessage10Toggle>false</timedMessage10Toggle>
    <timedMessage10></timedMessage10>
    <timedMessage10Timer>0</timedMessage10Timer>
  </timedMessagesSettings>
</Settings>